<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 col-12 sidebar-menu" *ngIf="menuClicked">
    <div class="rounded bg-bluelight px-3 py-4">
      <div class="mt-2 col-lg-12 col-md-12">
        <div class="rounded bg-bluelight h-100 overflow-hidden">
          <div class="mt-2 col-lg-12 col-md-12">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 course-actions hidden_in_app"><a
                class="course-action-button course-action-enroll mr10 who" data-method="get"
                href="https://openwho.org/sessions/new">Enroll course</a></div>
            </div>
            <small>*In order to assist UN country teams in scaling up country preparedness and response to COVID-19, WHO
              has developed these learning modules as a companion to the
              <a
                class="text-blue" target="_blank"
                href="https://openwho.org/courses/UNCT-COVID19-preparedness-and-response-EN"> Operational Planning
                Guidelines to Support Country Preparedness and Response.</a>
            </small>

          </div>
        </div>
      </div>

    </div>
<!--    <div class="rounded bg-bluelight px-3 py-4">-->
<!--      <div class="mt-2 col-lg-12 col-md-12">-->
<!--        <div class="rounded bg-bluelight h-100 overflow-hidden">-->
<!--          <div class="mt-2 col-lg-12 col-md-12">-->
<!--            <div class="clearfix"></div>-->
<!--            <div class="row">-->
<!--              <div class="col-md-12 course-actions hidden_in_app"><a-->
<!--                class="course-action-button course-action-enroll mr10 form-icon" data-method="get"-->
<!--                href="#test" (click)="showTesting=!showTesting">Testing form</a></div>-->
<!--            </div>-->
<!--            <small>*The motive behind this self-assessment tool is to help determine whether or not you should be tested-->
<!--              for COVID-19.-->
<!--            </small>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
  </div>
  <div class="col-lg-3 col-md-12">
    <div class="rounded bg-bluelight px-3 py-4">
      <div class="mt-2 col-lg-12 col-md-12">
        <div class="rounded bg-bluelight h-100 overflow-hidden">
          <div class="mt-2 col-lg-12 col-md-12">
            <div class="clearfix"></div>
            <div class="mb-3 row">
              <div class="col-12">
                <div class="font-weight-bold h5 head-color">Global Update</div>
                <div class="mt-3">Total Confirmed</div>
                <div
                  class="h3 m-0 font-weight-bold  d-inline-block"> {{globalReport['confirmed'] ? globalReport['confirmed'] : '. . .'}}</div>
                <div class="mt-3">Total Recovered</div>
                <div
                  class="h3 m-0 font-weight-bold d-inline-block ">{{globalReport['recovered'] ? globalReport['recovered'] : '. . .'}}</div>
                <div class="mt-3">Total Deaths</div>
                <div
                  class="h3 m-0 font-weight-bold d-inline-block"> {{globalReport['deaths'] ? globalReport['deaths'] : '. . .'}}
                </div>

              </div>
            </div>
            <small>Disclaimer: These numbers are obtained from
              <a
                class="text-blue" target="_blank"
                href="https://rapidapi.com/Gramzivi/api/covid-19-data?endpoint=apiendpoint_3b206a11-7e2c-43e1-ad1a-dc8d7bbf4662">Rapid
                API</a>
              and
              being updated as the numbers from these sources get updated.</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-12">
    <div class="rounded bg-bluelight px-3 py-4">
      <div id="map" class="map">
        <div class="information"
             *ngIf="showInfo && !(loading$ | async) && !(RLoading$! | async)">
          <div class="rounded bg-bluelight h-100 overflow-hidden">
            <div class="mt-2 col-lg-12 col-md-12">
              <div *ngIf="(loading$ | async) || (RLoading$ | async)" class="loader"></div>
              <div class="">
                <div class="mb-3 border-bottom pb-2">
                  <div class="d-inline-block wi-100">
                    <div class="h5 mb-0 font-weight-bold head-color">
                      Covid-19 Cases
                      <span class="cross"
                            (click)="cross()">X</span>
                    </div>
                  </div>

                </div>
                <div class="clearfix"></div>
                <div class="mb-3 row">
                  <div class="col-12">
                    <div
                      class="font-weight-bold h5 head-color">{{information.error !== "Unable to geocode" ? information['address']['country'] : ""}}
                      Update
                    </div>
                    <div class="mb-3 small-xs">
                      ({{information.error !== "Unable to geocode" ? information['address']['country'] : ""}} Govt.
                      reported
                      numbers)
                    </div>
                    <div class="mt-3">Total Confirmed</div>
                    <div
                      class="h3 m-0 font-weight-bold  d-inline-block">{{report['confirmed'] >= 0 ? report['confirmed'] : '. . .'}}</div>
                    <div class="mt-3">Total Recovered</div>
                    <div
                      class="h3 m-0 font-weight-bold d-inline-block ">{{report['recovered'] >= 0 ? report['recovered'] : '. . .'}}</div>
                    <div class="mt-3">Total Deaths</div>
                    <div
                      class="h3 m-0 font-weight-bold d-inline-block">{{report['deaths'] >= 0 ? report['deaths'] : '. . .'}}</div>
                  </div>
                  <!--            <div class="col-6">-->
                  <!--              <div class="font-weight-bold h5">Global Update</div>-->
                  <!--              <div class="invisible small-xs mb-3">(WHO reported numbers)</div>-->
                  <!--              <div class="invisible">-->
                  <!--                <div class="mt-3">Total Tested</div>-->
                  <!--                <div class="h3 m-0 font-weight-bold  d-inline-block"> 471,518</div>-->
                  <!--              </div>-->
                  <!--              <div class="mt-3">Total Confirmed</div>-->
                  <!--              <div class="h3 m-0 font-weight-bold  d-inline-block"> {{globalReport['confirmed']}}</div>-->
                  <!--              <div class="mt-3">Total Recovered</div>-->
                  <!--              <div class="h3 m-0 font-weight-bold d-inline-block ">{{globalReport['recovered']}}</div>-->
                  <!--              <div class="mt-3">Total Deaths</div>-->
                  <!--              <div class="h3 m-0 font-weight-bold d-inline-block"> {{globalReport['deaths']}}</div>-->
                  <!--            </div>-->
                </div>
                <!--          <small>*Disclaimer: These numbers are obtained from-->
                <!--            <a-->
                <!--              class="text-blue" target="_blank" href="https://coronavirus.jhu.edu/map.html"> Johns Hopkins-->
                <!--              University</a>-->
                <!--            and-->
                <!--            being updated as the numbers from these sources get updated.</small></div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 testing-form" *ngIf="showTesting">
      <div class="rounded bg-bluelight px-3 py-4">
        <div class="mt-2 col-lg-12 col-md-12">
          <div class="rounded bg-bluelight h-100 overflow-hidden">
            <div class="mt-2 col-lg-12 col-md-12">
              <div class="mb-3 border-bottom pb-2">
                <div class="d-inline-block wi-100">
                  <div class="h5 mb-0 font-weight-bold head-color">The motive behind this self-assessment tool is to
                    help determine whether or not you should be tested
                    for COVID-19.
                    <span class="cross"
                          (click)="showTesting=!showTesting">X</span>
                  </div>
                </div>

              </div>
              <div class="clearfix"></div>
              <div class="mb-3 row">
                <div class="col-12">
                  <div class="font-weight-bold h5 head-color">Let’s get started!</div>
                  <!--                  <div class="font-weight-bold h5 head-color">Are you experiencing any of the following symptoms?</div>-->
                  <div class="mt-3">Fever?</div>
                  <div class="h3 m-0 font-weight-bold  d-inline-block">
                    <div class="checkboxWrapper">
                      <input type="checkbox" class="form-control custom-checkbox">
                    </div>
                  </div>
<!--                  <div class="mt-3">Total Recovered</div>-->
<!--                  <div-->
<!--                    class="h3 m-0 font-weight-bold d-inline-block ">{{globalReport['recovered'] ? globalReport['recovered'] : '. . .'}}</div>-->
<!--                  <div class="mt-3">Total Deaths</div>-->
<!--                  <div-->
<!--                    class="h3 m-0 font-weight-bold d-inline-block"> {{globalReport['deaths'] ? globalReport['deaths'] : '. . .'}}-->
<!--                  </div>-->

                </div>
              </div>
<!--              <small>Disclaimer: These numbers are obtained from-->
<!--                <a-->
<!--                  class="text-blue" target="_blank"-->
<!--                  href="https://rapidapi.com/Gramzivi/api/covid-19-data?endpoint=apiendpoint_3b206a11-7e2c-43e1-ad1a-dc8d7bbf4662">Rapid-->
<!--                  API</a>-->
<!--                and-->
<!--                being updated as the numbers from these sources get updated.</small>-->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
